<!DOCTYPE html>
<html>
<head>
<title>WELCOME TO CABBAGE DISEASE PREDICTION</title>
<style>
body{background-color:black;
background-repeat:no-repeat;
background-size:cover;}
#pre1{
color:purple;
text-shadow:2px 2px pink;
background-color:black;
font-size:300%;
margin:0;
padding:0;
font-style:italic;
}
img{
float:left;
}
h4{
color:white;
text-shadow:2px 2px 5px green;
font-style:italic;
font-size:30px;
margin-left:100px;
}
#im2{
margin-left:550px;
}
h5{
color:white;
margin-left:380px;
font-size:25px;
text-shadow:2px 2px orange;
}
</style>
  
</head>
<body>
<img src="{{url_for('static',filename='images/navkis.png')}}" width="160" height="160">
<pre id="pre1">Classification and Detection of Cabbage leaves diseases 
      by analysing images using deep learning method</pre>

<h5>By:Manasvi.K,Rakshith.H.S,PAVAN.J.K,Yuktha D Jain</h5>
<h4>Under the guidance of Dr.Myna A.N HOD Of CSE Department NCE-Hassan</h4>

<img id="im2" src="{{url_for('static',filename='images/maam.png')}}" width="200" height="200" align="center">

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><a href="/diseases.html" class=""  style="margin-left:650px;border:10px solid blue;color:white;">Next</a>
</body>
</html>